doctype
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title RustySpoon Web Design
		link(rel="stylesheet" href="./css/bootstrap.css")
		link(rel="stylesheet" href="./css/get-shit-done.css")
		link(rel="stylesheet" href="./css/main.css")
		link(href='https://fonts.googleapis.com/css?family=Lora|Open+Sans' rel='stylesheet' type='text/css')

	body
		.container.topBanner
			.bannerLeft
				h1 Welcome to <span class="rusty">RustySpoon</span>
			.bannerRight
				h1 Web Design
				.logoTop
					img#rsLogoSml(src="img/rsLogo.png" alt="rustyspoon logo small")

		.container.main
			.headShot
				img(src="img/meHeadshot.png" alt="headshot of rustyspoon owner")
				p Darrell Mayson <span class="rusty">is</span> RustySpoon
				

			.footer
				p ©2016 RustySpoon Web Design
			script(src="js/jquery-1.10.2.js")
			script(src="js/bootstrap.js")



