doctype
html
	head
		title Test pug
		link(rel="stylesheet" href="./css/main.css")
	body
		h1 This was build using pug &amp; sass
		p  ..and it seems to work! :)
		p Let's see what happens when I save...